<!-- HEADER -->
<div id="header_wrap" class="outer">
    <header class="inner">

        <h1 id="project_title">The Last Check, LLC</h1>

        <h2 id="project_tagline"></h2>

    </header>
</div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        <h3>VIEX Operator Statistics Report</h3>
        <p>A report for VIEX users to provide operator statistics for reject correction activities.</p>
        <h3>VIEX X9.37 Archive File Rejects Update </h3>
        <p>The extract X9.37 file from VIEX to the archive system occurs before the reject data
        has been corrected. This service will update the file with the corrected reject data.</p>
        <h3>Check MICR Edit and Simulated Sort Program</h3>
        <p>The Check MICR Edit and Simulated Sort program provides editing capabilities for Java programs such
            as Vector Image Exchange (VIEX). This removes any requirement for SCI programs or other mainframe-
            based edit definition programs. It also removes any requirement for CPCS or SuperMICR for creating
            or maintaining the editing process.</p>
        <p>
            The TLC Check MICR Edit and Simulated Sort program uses its own simple to use, and easy to extend,
            scripting language for defining the edits and algorithms to be performed on the check items. This
            scripting language is dynamically compiled into Java byte-code and runs in the same JVM as the
            calling program instead of in a separate process space. Since it is actual Java byte-code,
            it runs much faster than the older SCI 3890 emulators.</p>
    </section>
</div>

